<nav class="navbar">
  <div class="logo">
    <a href="{% url 'home' %}">My Aircraft Hangar</a>
  </div>
  <ul class="nav-items">
    {% if user.is_authenticated %}
    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="nav-item"><a href="{% url 'create_aircraft' %}">Add Aircraft</a></li>
    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li class="nav-item {% if request.path == '/accounts/register/' %}active{% endif %}">
      <a href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item {% if request.path == '/accounts/login/' %}active{% endif %}">
      <a href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
  </ul>
</nav>
